<ul class="step1">
    <span>下の２つの単語を繋げて１つの言葉にしてください。</span>
    <%= form_tag "/step2" do %>
    <% 5.times do |i| %>
    <% @word= Word.find(Word.pluck(:id).sample).content %>
    <li style=margin-top:10px><%= @keyword %> + <%= @word %></li>
    <li>
        <input type="text" name="answer<%= i %>">
    </li>
    <% end %>
<!--    <input type="submit" value="Next →" name="goStep2" class="start2">-->
    <% end %>
</ul>