<div class="keywordManual">
    <h1>キーワードの決め方例</h1>
    <span>キーワードの決め方を２つ紹介します。</span>
    <ul>
        <li>　①そのままテーマを使う</li>
        <li>　②テーマを要素に分ける</li>
        <li></li>
    </ul>
    <h2>①そのままテーマを使う</h2>
    <div>一番シンプルな方法です。「○○についてのアイデア」の「○○」の部分をそのままキーワードにします。</div>
    <div>　　例：万博についてのアイデア ⇒ 万博<br>
    　　　　VR技術の活用方法　⇒　VR技術</div>
    
    <br>
    <br>
    <br>
    
    <h2>②テーマを要素に分ける</h2>
    <div>①で考えたキーワード(A)を分ける方法です。例えば「コンビニ」なら「ジュース」、「バイト」、「おにぎり」のように分けます。その時にAを使うのはどんな人か、Aを何のために使うのかなどに注目すると考えやすいです。</div>
    <div>　　例：万博　⇒　観光客、屋台、技術、外国など<br>
    　　　　テレビ　⇒　食事、主婦、新聞、映像など</div>

</div>