<% if session[:admin_tickets].present? %>

<ul class="settings">
    <h1>設定</h1>
    <li><%= link_to "語群", '/settings/words' %></li>
    <li><%= link_to "メモ一覧", '/settings/memos' %></li>
</ul>

<% else %>
<p>不正なアクセスです。</p>
<% end %>