<% if session[:admin_tickets].present? %>
<ul class="settings-keywords">
    <h1><%= @keywordsNumber %>tries</h1>
    <% @keywords.each do |keyword| %>
    <li class="settings-keyword"><%= keyword.keyword %></li>
    <li><%= link_to "削除", keyword, method: :delete, data: {confirm: '本当に削除しますか？'} %></li>
    <hr>
    <% end %>
</ul>

<% else %>
<p>不正なアクセスです。</p>
<% end %>