<% if session[:admin_tickets].present? %>
<h1 class="settings-keywords-h1"><%= @keywordsNumber %>tries</h1>

<% @keywords.each do |keyword| %>
<ul class="settings-keywords">
    <li><%= keyword.keyword %></li>
    <li><%= keyword.created_at %></li>
    <li><%= link_to "削除", keyword, method: :delete, data: {confirm: '本当に削除しますか？'} %></li>
</ul>
<hr>
<% end %>


<% else %>
<p>不正なアクセスです。</p>
<% end %>