.memo{
    position: absolute;
    z-index: 2;
    float: right;
    margin: 100px 20%;
    width:60%;
    display: none;
}

.memo>textarea{
    width: 100%;
    height: 700px;
}


.memo{
    font: 95% Arial, Helvetica, sans-serif;
    margin: 10px 10%;
    padding: 16px;
    background: #F7F7F7;
    position: absolute;
    z-index: 2;
    width: 80%;
}
.memo h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.memo textarea,
.memo select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.memo textarea{
    height: 600px;
    font-size: 20px;
}

.memo>form>input{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.memo textarea:focus,
.memo select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.memo input[type="submit"],
.memo input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
/*    width: 100%;*/
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.memo input[type="submit"]:hover,
.memo input[type="button"]:hover{
    background: #2EBC99;
}