.settings-keywords-h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.settings-keywords>li:first-child{
    float: left;
    width: 150px;
}

.settings-keywords>li{
    margin-bottom: 3px;
}

.settings-keywords>li:nth-child(2){
    float: left;
    margin-right: 50px;
}
